.controller {
    background: url(https://i.imgur.com/6XKavyX.png);
}

.button {
    background: url(https://i.imgur.com/4teYmtT.png);
}

.stick {
    background: url(https://i.imgur.com/PIKMcq1.png);
}

.face {
    background: url(https://i.imgur.com/AGTTyUT.png);
}
